<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href= "{{ url_for('static',filename='styles/main.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
   <body>
        <section class="blockchain-page">
            <h1>Python Blockchain!</h1>
            <form method="POST" id="sendBlock">
                <label for="">Conteúdo do bloco</label>
                <input id="newValue" type="text" name="test">
                <button>Enviar</button>
            </form>
            <section id="blockchain"></section>
            <!-- Hiden genesis block -->
            <textarea id="genesisBlock" hidden>{{genesis.data}}</textarea>
            
        </section>
        
        <script>
            $(document).ready(()=>{
                var blockVar = JSON.parse($('#genesisBlock').val());
                $('#sendBlock').on('submit',(e)=>{
                    e.preventDefault();
                    blockVar['data'] = e.currentTarget[0].value;
                    $.ajax({
                        data:blockVar,
                        type:'POST',
                        url: '/chain'
                    }).done((data)=>{
                        blockVar = data;
                        console.log(blockVar);
                        let blockHTML = "<div class='block'>"+
                                            "<div class='block-content'>Hash Anterior:"+
                                                "<div class='hash prev'>"+
                                                    blockVar.previous_hash+
                                                "</div>"+
                                            "</div>"+
                                            "<div class='block-content'>Hash:"+
                                                "<div class='hash self'>"+
                                                    blockVar.hash+
                                                "</div>"+
                                            "</div>"+
                                            "<div>Data:"+
                                                blockVar.data+
                                            "</div>"+
                                            "<div class='index-holder'>Index:"+
                                                blockVar.index+
                                            "</div>"+
                                            "<div class='time'>Timestamp:"+
                                                blockVar.timestamp+
                                            "</div>"+
                                        "</div>";
                        $('#blockchain').append(blockHTML);
                        $('#newValue').val('');
                    });
                });
            });
        
        </script>
   </body>
</html>