<!doctype html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
   <body>
        <section class="blockchain-page">
            <h1>Hello!</h1>
            <form method="POST" id="sendBlock">
                <label for="">Conteúdo do bloco</label>
                <input id="newValue" type="text" name="test">
                <button>Send</button>
            </form>
            <section id="blockchain"></section>
            <!-- Hiden genesis block -->
            <textarea id="genesisBlock" hidden>{{genesis.data}}</textarea>
            
        </section>
        
        <script>
            $(document).ready(()=>{
                var blockVar = JSON.parse($('#genesisBlock').val());
                $('#sendBlock').on('submit',(e)=>{
                    e.preventDefault();
                    blockVar['data'] = e.currentTarget[0].value;
                    $.ajax({
                        data:blockVar,
                        type:'POST',
                        url: '/chain'
                    }).done((data)=>{
                        blockVar = data;
                        console.log(blockVar);
                        let blockHTML = "<div class=block>"+
                                            "<ul>"+
                                                "<li>Index:"+
                                                blockVar.index+
                                                "</li>"+
                                                "<li>Hash:"+
                                                blockVar.hash+
                                                "</li>"+
                                                "<li>Data:"+
                                                blockVar.data+
                                                "</li>"+
                                                "<li>Hash Anterior:"+
                                                blockVar.previous_hash+
                                                "</li>"+
                                                "<li>Timestamp:"+
                                                blockVar.timestamp+
                                                "</li>"+
                                            "</ul>"+
                                        "</div>";
                        $('#blockchain').append(blockHTML)
                    });
                });
            });
        
        </script>
   </body>
</html>